NODE_ENV=development
PORT=8000
DB_MIN_POOL_SIZE=5
DB_MAX_POOL_SIZE=10
MONGODB_URI=mongodb://localhost:27017/mongo
JWT_ACCESS_SECRET=f3eeaf396e7e9328eb87d2f74f30183e29457eaa93874c3e872ef3a9c4bdb24c
JWT_ACCESS_EXPIRY=1d
JWT_REFRESH_SECRET=f9d221e52e7fcddd7042437ae4cc22cdc3557e8dc94f0c8abcf8de8f43efe78d
JWT_REFRESH_EXPIRY=10d
CORS_ORIGIN=http://localhost:3000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RESEND_API_KEY=
EMAIL_FROM=
BASE_URL=http://localhost:3000
COOKIE_DOMAIN=